<style type="text/css" media="screen">



</style>

<div class="container">
  <div class="header-container">
    <h1>LaunchList</h1>
  </div>

  <div class="project-list">
    <div class="legend">
      <span class="title">Project</span>
      <span class="target">Version</span>
      <span class="status">Status</span>
    </div>

    <ul class="projects">
      <% if !@features.blank? %>
        <% for i in @features %>
             <li class="project tt">
               <h2>
                <span class="title">
                  <span class="strikethrough"></span>
                  <strong><%= i.title %></strong>
                </span>
               <span class="target">
                <span class="strikethrough"></span>
                <strong><%= i.progress %></strong>
               </span>
               <span class="status blue glow">
                <span class="strikethrough"></span>

                <strong><%= i.launch_status.name %></strong>
               </span>
             </h2>
             <p class="info title"><span class="label"><b>Info: </b></span><%= raw i.about %></p>
             <p class="crew">
              <span class="label"><b>Crew: </b></span>
               <span class="person"><%= i.user.email if i.user %></span>
             </p>
             <p class="eta"><span class="label"><b>Status:</b></span> Released on October 3rd, 2012.
              <!-- <a href="http://support.culturedcode.com/customer/portal/articles/174828" style="font-size: smaller; color: #999999; hover: none">Release Notes</a></p> -->
           </li>
        <% end %>
      <% else %>
    <% end %>
  </div>

</div>


